<div class="reserva-disponibles-container" >
  <h2 >Reserva Disponibles</h2>
  <div >
    <label >Filtrar por Instructor</label>
    <select name="instructor" [(ngModel)]="filtro.instructor_id" (change)="filtrarPorInstructor()">
      <option value="">Todos</option>
      @for (i of instructor; track $index) {
        <option value="{{i.id}}">{{ i.nombre_completo }}</option>
      }
    </select>
  </div>
  <ul *ngIf="!reservaSeleccionado" >
    <li *ngFor="let reserva of reservaDisponibles" >
      <div>
        <div >Fecha y Hora: {{ reserva.fechaHora | date:'dd/MM/yyyy HH:mm' }}</div>
        <div >Instructor: {{ reserva.instructor?.nombre_completo }}</div>
      </div>
      <button (click)="seleccionarTurno(reserva)"
              >Seleccionar</button>
    </li>
  </ul>
  <div *ngIf="reservaSeleccionado">
    <app-alta-reserva
      [reservaSeleccionado]="reservaSeleccionado"
      (AltaReserva)="turnoCreado()"
      (Cancelar)="cancelarSeleccion()">
    </app-alta-reserva>

    <div >
      <button class="cancelar-btn" (click)="cancelarSeleccion()"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>

